%li[feed]{:class => [(@feed && @feed == feed) ? 'active' : nil, feed.items? ? 'has-unread' : nil], 'data-model' => { id: feed.id, unread_count: feed.unread_count}.to_json }
  = link_to items_path(feed_id: feed.id), title: feed.title do
    = truncate feed.title, length: 20
