%li.item{:class => item.read? ? 'read' : 'unread'}
  %h3
    = link_to item.title, item.link, target: '_blank', data: { read_path: read_item_path(item) }
    .label.label-inverse= item.feed.title
  %div.description= item.description.html_safe
