#app.clearfix
  #sidebar
    %ul#feeds
    #subscribe
      %a{:href => '#'}
        %i.icon-plus
        Subscribe...
      %input{:type => 'text', :placeholder => 'e.g. http://feeds.feedburner.com/37signals'}

  #main
    .btn-group
      %a.btn.active All
      %a.btn Unread

    .btn-group
      %a.btn
        %i.icon-check
        Mark all read
    %ul#items
