#app.clearfix
  #sidebar
    %ul#feeds
    #subscribe
      %a{:href => '#'}
        %i.icon-plus
        Subscribe...
      %input{:type => 'text', :placeholder => 'e.g. http://feeds.feedburner.com/37signals'}

  #main
    #controls
      .btn-group
        %a.btn.active.all All
        %a.btn.unread Unread

      .btn-group
        %a.btn.refresh
          %i.icon-refresh
          Refresh

      .btn-group
        %a.btn.mark-all-read
          %i.icon-check
          Mark all read
    %ul#items
