// Twitter Bootstrap
@import bootstrap
@import font-awesome

// Bourbon for css3 mixins
@import bourbon

#content
  padding: 20px

input#subscribe
  margin-top: 15px

ul#items
  margin: 0
  padding: 0
  list-style: none

  li.item
    cursor: pointer
    margin: 20px 0

    &.read .title
      font-weight: normal

    &.unread .title
      font-weight: bold

    & > div.description
      display: none

    &.active > div.description
      display: block

ul#feeds
  margin: 15px 0 0 0
  padding: 0
  list-style: none
