// Twitter Bootstrap
@import bootstrap
@import font-awesome

// Bourbon for css3 mixins
@import bourbon

#content
  padding: 20px

input#subscribe
  margin-top: 15px

ul.items
  margin: 0
  padding: 0
  list-style: none

  li.item.read h3
    font-weight: normal

  li.item > div.description
    display: none

ul.feeds
  margin: 15px 0 0 0
  padding: 0
  list-style: none
